body {
  color: black;
  background-color: white;
  transition: color 0.2s ease-in-out;
  background-color: 0.2s ease-in-out;
}
h1 {
  color: black;
}
a {
  color: black;
}
span {
  color: black;
}
.credits a:hover {
font-weight: bold;
}
.features .icon-box h4 , h3, h3, h2, h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: black;
}
.servicios .icon-box {
  box-shadow: 14px 14px 9px -4px rgba(0, 0, 0, 0.24)
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Lexend Deca", sans-serif;
  color: black;
}
.servicios .icon-box h4 a {
  color: black;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.servicios .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  background-color: #bbe4e4;
}
.servicios .icon-box h4 a:hover {
  color: white;
}
.map {
  background-color: white;
}
.contact .info {
  width: 100%;
  background-color: white;
}
.contact .php-email-form {
  width: 100%;
  background-color: white;
}
#footer {
  background: white;
  padding: 0 0 30px 0;
  color: black;
  font-size: 14px;
}
#footer .footer-top {
  background: white;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info h3 {
  color: black;
}
#footer .footer-top .footer-info p {
  color: black;
}
.contact .info h4 {
  color: black;
}
.contact .php-email-form textarea {
  background-color: white;
  color: black;
}
.contact .php-email-form input {
  background-color: white;
  color: black;
}
#footer .footer-top h4 {
  color: black;
}
.gmap {
  filter: grayscale(0%) invert(0%) contrast(100%);
}
/* scrollbar custom */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #37e2d5 ; 
}